<p id="notice"><%= notice %></p>

<h1 class="page-title">
  <%= @message.title %>
</h1>

<% if @message.news_photos.count > 0 %>
<div class="left-arrow2"></div>
<div class="cwrapper">   
    <div id="myCarousel" class="carousel slide">
      <!-- Carousel items -->
        <div class="carousel-inner">
            <% @message.news_photos.each_with_index do |p, index| %>
                <% if index == 0 %>
                    <div class="active item">
                <% else %>
                    <div class="item">
                <% end %>                
                    <%= image_tag p.image_url %>
                <% if p.legend? %>
                    <div class="carousel-caption">
                        <p>                            
                            <%= p.legend %>
                        </p>
                    </div>
                <% end %>
                </div>
            <% end %>
        </div>
    </div>
    <div class="right-arrow2"></div>
</div>
<% end %>

<div class="new-content">
	<p>
	  <%= raw @message.body %>
	</p>
</div>

<% if can? :manage, @message %>
  <%= link_to 'Editar', edit_message_path(@message) %> |
  <%= link_to 'Todas as notícias', messages_path %> |
  <%= link_to 'Tornar Destaque', message_contrast_message_path(@message), remote: true %> | 
  <%= link_to 'Excluir Noticia', @message, :method => 'delete' %>
<% end %>

<script type="text/javascript">
    $(document).ready(function() {
        $(".carousel").carousel({
            interval: false
        });
        $(".left-arrow2").click(function() {
            $(".carousel").carousel('prev');
        })
        $(".right-arrow2").click(function() {
            $(".carousel").carousel('next');
        })
    });

</script>