<p id="notice"><%= notice %></p>

<h1 class="page-title">
  <%= @message.title %>
</h1>

<% @message.news_photos.each do |p| %>
  <p><%= image_tag p.image_url(:thumb) %></p>
  <p><%= p.legend %></p>
<% end %>

<div class="new-content">
	<p>
	  <%= raw @message.body %>
	</p>
</div>

<% if can? :manage, @message %>
  <%= link_to 'Editar', edit_message_path(@message) %> |
  <%= link_to 'Todas as notícias', messages_path %> |
  <%= link_to 'Tornar Destaque', message_contrast_message_path(@message), remote: true %> | 
  <%= link_to 'Excluir Noticia', @message, :method => 'delete' %>
<% end %>