<%= simple_form_for(@content) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, :as => :select, :include_blank => false, :collection => ["anuncie_aqui", "como_comprar_fotos", "contrate_fotografo", "quem_somos", "termos_de_uso", "boletim_do_mar" ] %>
    <%= f.input :description %>
    <%= f.input :title %>
    <%= f.input :subtitle %>
    <%= f.cktext_area :body, :input_html => { :value => @content.body } %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
