  
<h1>Conteúdo das páginas</h1>

<table class="table striped">
  <tr>
    <th>Nome</th>
    <th>Descrição</th>
    <th>Título</th>
    <th>Subtítulo</th>
    <th></th>
  </tr>

<% @contents.each do |content| %>
  <tr>
    <td><%= content.name %></td>
    <td><%= content.description %></td>
    <td><%= content.title %></td>
    <td><%= content.subtitle %></td>
    <td>
    <%= link_to 'Ver', content, class: "btn btn-small" %>
    <%= link_to 'Adicionar Fotos', content_upload_images_path(content), class: "btn btn-small"  %>
    <%= link_to "Editar Fotos", content_view_photos_path(content), class: "btn btn-small" %>
    <%= link_to 'Editar', edit_content_path(content), class: "btn btn btn-small"%>
    <%= link_to 'Apagar', content, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-small btn-danger" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo conteúdo', new_content_path %>

<script type="text/javascript">
    
    $(document).ready(function() {
        $('#container-right').hide();
        $('#content').removeClass('span9');
        // $('#content').addClass('full');
        $('#body').addClass('full');
    })

</script>