  
<h1>Conteúdo das páginas</h1>

<table class="table striped">
  <tr>
    <th>Nome</th>
    <th>Descrição</th>
    <th>Título</th>
    <th>Subtítulo</th>
    <th></th>
  </tr>

<% @contents.each do |content| %>
  <tr>
    <td><%= content.name %></td>
    <td><%= content.description %></td>
    <td><%= content.title %></td>
    <td><%= content.subtitle %></td>
    <td><%= link_to 'Ver', content, class: "btn" %>
    <%= link_to 'Editar', edit_content_path(content), class: "btn"%>
    <%= link_to 'Apagar', content, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo conteúdo', new_content_path %>
