<% if can? :manage, @content %>    
  <%= link_to "Editar Página", edit_content_path(@content) %>
<% end %>



<div class='<%= @content.name %>'>
	<h1 class='page-title'><%= @content.title %></h1>            	

	
	<h2 class='page-subtitle'><%= @content.subtitle %></h2>

	<p class='page-subsubtitle'><%= @content.description %></p>

	<% if @content.name == 	"trabalhe_conosco" %>
		<div class="left-align">			
			<%= raw @content.body %>
		</div>
	<% else %>
		<%= raw @content.body %>
	<% end %>

</div>


<script type="text/javascript">
    $(document).ready(function() {
        $(".left-arrow2").click(function() {
            $(".carousel").carousel('prev');
        })
        $(".right-arrow2").click(function() {
            $(".carousel").carousel('next');
        })
    });

</script>