<div class='sign-up'>
    <p class='img-header'><%= image_tag("area_fotografo.png", :alt => "area do fotografo") %></p>

    <div class="contact">
        <h1 class="page-title">Cadastre-se</h1>
    </div>

    <p class="info">Após se cadastrar, você receberá a confirmação por email</p>

    <%= simple_form_for("photographer", :url => photographer_registration_path, :html => { :class => "form form-horizontal"})  do |f| %>
    <%= f.error_notification %>

    <div class="row">        
        <div class="span6">
            <%= f.input :email, :label => false, :required => true, 
                        :autofocus => true, 
                        :input_html => { :class => "input-xlarge gray", :placeholder => " Email: "} %>
            <%= f.input :name, :label => false, :required => true, 
                        :input_html => { :class => "input-xlarge gray", :placeholder => " Nome: "} %>
            <%= f.input :phone,  :label => false,:required => true, 
                        :input_html => { :class => "input-xlarge gray", :placeholder => " Telefone: "} %>
            <%= f.input :address,  :label => false,:required => true, 
                        :input_html => { :class => "input-xlarge gray", :placeholder => " Endereço: "} %>
            <%= f.input :cep,  :label => false,:required => true, 
                        :input_html => { :class => "input-xlarge gray", :placeholder => " CEP: "} %>
        </div>
        <div class="span6">
            <%= f.input :city, :label => false, :required => true, 
                        :input_html => { :class => "input-xlarge gray", :placeholder => " Cidade: "} %>
            <%= f.input :equipments,  :label => false,:required => true, 
                        :input_html => { :class => "input-xlarge gray", :placeholder => " Equipamentos: "} %>
            <%= f.input :peaks_of_activity,  :label => false,:required => true, 
                        :input_html => { :class => "input-xlarge gray", :placeholder => " Picos de atuação: "} %>
            <%= f.input :password, :label => false, :required => true, 
                        :input_html => { :class => "input-xlarge gray", :placeholder => " Senha: "} %>
            <%= f.input :password_confirmation, :label => false, :required => true, 
                        :input_html => { :class => "input-xlarge gray", :placeholder => " Confirme a senha: "} %>
        </div>
    </div>

    <div class="form-actions">
        <%= f.button :submit, "Cadastre-se!",  :class => "btn btn-primary" %>
    </div>
    <% end %>

    <!--     <%= render "devise/shared/links" %>
 --></div>


