<h1>Listing photo_lists</h1>

<table>
  <tr>
    <th>Sale</th>
    <th>Photo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @photo_lists.each do |photo_list| %>
  <tr>
    <td><%= photo_list.sale %></td>
    <td><%= photo_list.photo %></td>
    <td><%= link_to 'Show', photo_list %></td>
    <td><%= link_to 'Edit', edit_photo_list_path(photo_list) %></td>
    <td><%= link_to 'Destroy', photo_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Photo list', new_photo_list_path %>
