<%= simple_form_for(@banner) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, :label => false, :placeholder => "Nome: " %>
    <%= f.input :position, :label => false, :as => :select, :include_blank => false, :collection => ['topo', 'meio', 'menor-1', 'menor-2', 'menor-3', 'quadrado', 'maior'] %>
    <%= f.input :link, :label => false, :placeholder => "Link" %>
    <%= f.file_field :file %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :value => "Salvar" %>
  </div>
<% end %>
