<%= simple_form_for(@contact) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, :label => false, :class => 'block', :placeholder => 'Nome: ' %>
    <%= f.input :email, :label => false, :class => 'block', :placeholder => 'Email: ' %>
    <%= f.input :phone, :label => false, :class => 'block', :placeholder => 'Telefone: ' %>
    <%= f.input :contact_type_id, :label => false, :as => :select, :include_blank => false, :required => true, :collection => ContactType.all, :input_html => { :class => "select" } %> 


    <%= f.input :message, :label => false, :placeholder => 'Mensagem: ', :input_html => { :class => 'leform', :rows => 5, :cols => 10 } %>
  </div>

  <div class="actions">        
      <%= image_submit_tag("enviar_button_large.png") %></p>
  </div>
<% end %>

<script type="text/javascript">
    $(document).ready(function(){
        $('.select').customSelect();
    });
</script>