<div class='container-fluid'>
    <div class='body'>
        <div class='content'>    

          <h1>Contatos Realizados</h1>

          <table class="table striped">
            <tr>
              <th>Nome</th>
              <th>Email</th>
              <th>Telefone</th>
              <th>Mensagem</th>
              <th>Tipo do contato</th>
              <th></th>
              <th></th>
            </tr>

          <% @contacts.each do |contact| %>
            <tr>
              <td><%= contact.name %></td>
              <td><%= contact.email %></td>
              <td><%= contact.phone %></td>
              <td><%= contact.message %></td>
              <td><%= contact.contact_type.name %></td>
              <td><%= link_to 'Ver', contact %></td>
              <td><%= link_to 'Deletar', contact, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
            </tr>
          <% end %>
          </table>

          <br />

        </div>
    </div>
</div>