<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @sale_item.date %>
</p>

<p>
  <b>Sale:</b>
  <%= @sale_item.sale %>
</p>

<p>
  <b>Photo:</b>
  <%= @sale_item.photo %>
</p>


<%= link_to 'Edit', edit_sale_item_path(@sale_item) %> |
<%= link_to 'Back', sale_items_path %>
