<%= simple_form_for(@album) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, :required => true %>
    <%= f.input :beach, :required => true %>
    <%= f.input :peak, :required => true %>
    <%= f.input :date, :required => true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
