<div class='albums-index'>

    <div class="row">       
        <div class='span6'>
            <p class='img-header'><%= image_tag("area_fotografo.png", :alt => "area do fotografo") %></p>
        </div>
        <div class="span6">            
            <% if photographer_signed_in? %>
                <div class="photographer-info">
                    <h1>Olá, <%= current_photographer.name %></h1>
                    <p class="edit">
                        <%= link_to "editar informações", edit_photographer_registration_path(current_photographer) %>
                    </p>
                </div>
            <% end %>
        </div>
    </div>
    <% if photographer_signed_in? %>
        <h1 class="page-subtitle">Upload</h1>
        <p> <%= link_to 'Cadastre', new_album_path %> quantos álbuns quiser</p>
    <% end %>

    <ul class="breadcrumb">
        <li class='active'>Você está em<span class="divider">></span></li>
        <li class="active">Álbuns</li>
    </ul>

    <div class="albums">
        <div class="row-fluid album-row">
            <% if photographer_signed_in? %>
                <div class="span2">
                   <%= link_to image_tag('new_album.png'), new_album_path %>
               </div>
           <% end %>
           <% @break_row = 6 %>
            <% @albums.each_with_index do |album, index| %>     
                <% if index + 1 == @break_row %>
                    <% @break_row = @break_row + 6 %>
                    <% @opened = 1 %>
                    </div>
                    <div class="row-fluid album-row">
                <% end %>         
                <div class="span2">
                    <div class="thumbnail">
                        <!-- @TODO Colocar uma imagem do algum de "capa" -->
                        <div class='mouse-over'>
                            <span><%= link_to '', edit_album_path(album), :class => 'link-edit' %></span>
                            <span><%= link_to '', album, :method => 'delete', :class => 'link-delete'%></span>
                        </div>
                        <% if album.photos != [] %>
                        <div class="crop-small">                            
                            <%= image_tag album.photos[0].image_url(:thumb).to_s, :class => 'img-rounded'%>
                        </div>
                        <% else %> 
                            <%= link_to image_tag('logo_site.png'), album_show_photos_path(album) %>
                        <% end %>
                        <div class="description">
                            <%= link_to '', album_show_photos_path(album) %>
                            <div class="date"><%= album.date.strftime('%d/%m/%Y') %></div>
                            <div class="name"><%= index %></div>
                            <div class="beach"><%= album.beach %></div>
                        </div>
                    </div>
                </div>     
            <% end %>
            <% if @opened == 1 %>                
                </div>
            <% end %>
        </div>
    </div>
</div>

<script type="text/javascript">
    
    $(document).ready(function() {
        $('#container-right').hide(); $("#top-carousel").hide();
        $('#content').removeClass('span9');
        $("#top-carousel").hide();
        // $('#content').addClass('full');
        $('#body').addClass('full');        
    });

</script>

