<h1>Fotos</h1>
<div id="photos">
<script id="template-upload" type="text/x-tmpl">
<div class="upload">
  {%=o.name%}
  <div class="progress"><div class="bar" style="width: 0%;"></div></div>
</div>
</script>

<% @photos.each do |p| %>
  <p>Photo</p>
  <%= image_tag p.image_url(:thumb).to_s %>
<% end %>
</div>



<%= form_for Photo.new do |f| %>
  <%= f.hidden_field :album_id, :value => @album.id %>
  <%= f.label :image, "Upload Imageeeeees" %>
  <%= f.file_field :image, multiple: true, name: "photo[image]" %>
<% end %>