<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @album.name %>
</p>

<p>
  <b>Beach:</b>
  <%= @album.beach %>
</p>

<p>
  <b>Peak:</b>
  <%= @album.peak %>
</p>

<p>
  <b>Date:</b>
  <%= @album.date %>
</p>

<p>
  <b>Photographer:</b>
  <%= @album.photographer.name %>
</p>
<p>
  <b>Photos</b>
  <%= link_to 'Mostrar Fotos', album_show_photos_path(@album) %>
  <%= link_to 'Adicionar Fotos', album_add_photo_path(@album) %>
</p>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
