<div class='albums-index'>

    <div class="row">       
        <div class='span6'>
            <p class='img-header'><%= image_tag("area_fotografo.png", :alt => "area do fotografo") %></p>
        </div>
        <div class="span6">            
            <div class="photographer-info">
                <h1>Olá, <%= current_photographer.name %></h1>
                <p class="edit">
                    <%= link_to "editar informações", edit_photographer_registration_path(current_photographer) %>
                </p>
            </div>
        </div>
    </div>

    <h1 class="page-subtitle">Upload</h1>
    <%= form_for Photo.new do |f| %>
        <%= f.hidden_field :album_id, :value => @album.id %>
        <div class="photo-upload">                
            <div class="custom_file_upload">
                <div class="file_upload">
                    <%= f.file_field :image, multiple: true, name: "photo[image]" %> 
                </div>
            </div>
        </div>
    <% end %>


    <ul class="breadcrumb">
        <li class='active'>Você está em<span class="divider">></span></li>
        <li>Álbuns - <%= @album.name %> > </li>
    </ul>

    <div id="photo" class="span12 centralize">
        <script id="template-upload" type="text/x-tmpl">
            <div class="upload">
                {%=o.name%}
                <div class="progress">
                    <div class="bar" style="width: 0%;"></div>
                </div>
            </div>
        </script> 
    </div>


    <div class="albums" id="album">
        <div class="row-fluid album-row">
            <div class='span3'>
                <%= form_for Photo.new, :html => {:id => "new_photo_image" } do |f| %>
                    <%= f.hidden_field :album_id, :value => @album.id %>
                    <div class="photo-inside">                
                        <div class="custom_file_upload">
                            <div class="file_upload">
                                <%= f.file_field :image, multiple: true, name: "photo[image]" %> 
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
            <% @break_row = 4 %>
            <% @photos.each_with_index do |photo, index| %>      
                <% if index + 1 == @break_row %>
                    <% @break_row = @break_row + 4 %>
                    <% @opened = 1 %>
                    </div>
                    <div class="row-fluid album-row">
                <% end %>                   
                <div class="span3">
                    <div class="thumbnail">
                        <!-- @TODO Colocar uma imagem do algum de "capa" -->
                        <div class='mouse-over-big'>
                            <span><%= link_to '', '#', :class => 'link-edit' %></span>
                            <span><%= link_to '', photo, :method => 'delete', :class => 'link-delete'%></span>
                        </div>
                        <div class="crop">
                            <%= image_tag photo.image_url(:thumb).to_s, :class => 'img-rounded'%>
                        </div>
                        <div class="description">
                            <div class="date"><%= @album.date.strftime('%d/%m/%Y') %></div>
                            <div class="name"><%= @album.peak %></div>
                            <div class="beach"><%= @album.beach %></div>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
        <% if @opened == 1 %>                
            </div>
        <% end %>
    </div>
</div>



<script type="text/javascript">
    
    $(document).ready(function() {
        $('#container-right').hide();
        $('#content').removeClass('span9');
        // $('#content').addClass('full');
        $('#body').addClass('full');
    })

</script>

<!-- Third party script for BrowserPlus runtime (Google Gears included in Gears runtime now) -->
