<p id="notice"><%= notice %></p>

<h1 class="page-title">Álbum  <%= @album.name %></h1>
<p>
  <b>Nome:</b>
  <%= @album.name %>
</p>

<p>
  <b>Praia:</b>
  <%= @album.beach %>
</p>

<p>
  <b>Pico:</b>
  <%= @album.peak %>
</p>

<p>
  <b>Data:</b>
  <%= @album.date %>
</p>

<p>
  <b>Fotógrafo:</b>
  <%= @album.photographer.name %>
</p>
<p>
  <b>Fotos</b>
  <%= link_to 'Mostrar Fotos', album_show_photos_path(@album) %>
</p>

<div class="form-actions">
  <%= link_to 'Editar álbum', edit_album_path(@album), :class => 'btn' %>
  <%= link_to 'Voltar', photographer_show_albums_path, :class => 'btn' %>
</div>
