<div class='albums-index'>

    <div class="row">       
        <div class='span6'>
            <p class='img-header'><%= image_tag("area_fotografo.png", :alt => "area do fotografo") %></p>
        </div>
        <div class="span6">            
            <div class="photographer-info">
                <h1>Olá, <%= current_photographer.name %></h1>
                <p class="edit">
                    <%= link_to "editar informações", edit_photographer_registration_path(current_photographer) %>
                </p>
            </div>
        </div>
    </div>

    <h1 class="page-subtitle">Upload</h1>
    <p> <%= link_to 'Cadastre', new_album_path %> quantos álbuns quiser</p>

    <ul class="breadcrumb">
        <li class='active'>Você está em<span class="divider">></span></li>
        <li class="active">Álbuns</li>
    </ul>

    <div class="albums">
        <div class="row-fluid">
            <% @albums.each do |album| %>                
                <div class="span2">

                    <div class="thumbnail">
                        <!-- @TODO Colocar uma imagem do algum de "capa" -->
                         <%= link_to image_tag('logo_site.png'), album_show_photos_path(album) %>
                        <div class="description">
                            <div class="date"><%= album.date.strftime('%d/%m/%Y') %></div>
                            <div class="name"><%= album.name %></div>
                            <div class="beach"><%= album.beach %></div>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>

<script type="text/javascript">
    
    $(document).ready(function() {
        $('#container-right').hide();
        $('#content').removeClass('span9');
        // $('#content').addClass('full');
        $('#body').addClass('full');
    })

</script>