<%= simple_form_for(@price) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="alert alert-notice">
      <span>Use . ao invés de , para decimal</span>
    </div>
    <%= f.input :value %>
    <%= f.input :price_type, as: :select, collection: ["digital", "física_pequena", "física_média", "física_grande"], include_blank: false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :value => "Salvar" %>
  </div>
<% end %>
