<%= simple_form_for(@photo) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, :required => true %>
  </div>

  <%= f.input :album_id, :as => :hidden ,:value => @photo.album_id %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
