<div class="search">
  <div class="row-fluid album-row">

    <div class="row-fluid">
      <div class="span6">
        <h1 class="page-title">Busca fotos</h1>
      </div>   
      <div class="span6">            
        <p class='img-header'><%= basket.sale_items.count %> <%= image_tag("cart_amount_button.png", :alt => "Carrinho de compras") %></p>
      </div>
    </div> 

    <%= form_tag find_result_path do %>
      <div class="form-inputs">
        <%= text_field_tag 'find_by_date', nil,:class => 'input-medium gray', :placeholder => "Busca por: Data" %>
        <%= text_field_tag 'find_by_keyword', nil,:class => 'input-large gray large', :placeholder => "Busca por: Palavra-chave" %>
        <%= image_submit_tag('buscar_button.png', :class => 'xbutton') %>
      </div>
      <% end %>

    <% @photos.each do |p| %>
      <div class="span4">
        <div class="thumbnail">

          <div class="crop">
            <%= image_tag p.image_url(:thumb).to_s, :class => 'img-rounded'%>
          </div>
          <div class="description">
            <%= link_to 'Ver Ãlbum', album_path(p.album), :class => "btn btn-small" %>
            <%= link_to 'Adicionar ao Carrinho', sale_add_photo_path(p.id), :class => "btn btn-small", remote: true %>
          </div>
        </div>
      </div>
    <% end %>

    <script type="text/javascript">
      $(document).ready(function() {
          $('#container-right').hide();
          $('#content').removeClass('span9');
          // $('#content').addClass('full');
          $('#body').addClass('full');        
      });
      </script> 
  </div> 
</div>
