<div class="search">
    <div class="row-fluid">   
        <div class="span6">
            <h1 class="page-title">Busca fotos</h1>
        </div>   
        <div class="span6">            
            <p id="basket_items" class='img-header'><%= basket.count + " items no carrinho" unless basket == nil %><%= image_tag("cart_amount_button.png", :alt => "Carrinho de compras") %></p>
            <%= link_to "Finalizar compra", sale_finish_sale_path, :class => "btn btn-small" %>
        </div>
    </div> 

    <%= form_tag find_result_path do %>
      <div class="form-inputs">
        <%= text_field_tag 'find_by_date', nil,:class => 'input-medium gray', :placeholder => "Busca por: Data" %>
        <%= text_field_tag 'find_by_keyword', nil,:class => 'input-large gray large', :placeholder => "Busca por: Palavra-chave" %>
      <%= image_submit_tag('buscar_button.png', :class => 'xbutton') %>
      </div>


      <div>
        <h3 class='page-subsubtitle'>Útimos álbuns adicionados</h3>
        <% @break_page = 0 %>
        <% @opened = false %>
        <div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery" data-selector="div.crop-small">
            <div class="row-fluid album-row">
                <% Album.limit(10).order('date desc').each do |album| %>
                    <% album.photos.each_with_index do |photo, index| %>
                        <% if @break_page == 6 %>
                            </div>
                            <div class="row-fluid album-row">
                            <% @break_page = 1 %>
                            <% @opened = true %>
                        <% else %>
                            <% @break_page = @break_page + 1 %>
                        <% end %>
                        <div class="span2">
                            <div class="crop-small" data-href="<%= photo.image_url(:medium).to_s %>" title="<%= photo.album.beach %>" >
                                <%= image_tag photo.image_url(:crop_small).to_s, :class => 'img-rounded' %>
                            </div>
                        </div>
                    <% end %>
                <% end %>
            </div>
        </div>
        <% if @opened  %>
            </div>
        <% end %>
    </div>
</div>
<% end %>



<div id="modal-gallery" class="modal modal-gallery hide fade" tabindex="-1">
    <div class="modal-body">
        <div class="modal-dismiss" >
            <a class="close" data-dismiss="modal">&times;</a>
        </div> 
        <div class="modal-image">
        </div>        
        <div class="modal-black-box">
            <div class="modal-title"></div>
        </div>
    </div>
</div>

    <script type="text/javascript">
    $(document).ready(function() {
        $('#container-right').hide();
        $('#content').removeClass('span9');
        // $('#content').addClass('full');
        $('#body').addClass('full');    

    });

    </script>    
</div>

<script src="http://blueimp.github.com/JavaScript-Load-Image/load-image.min.js"></script>
<script src="https://raw.github.com/blueimp/Bootstrap-Image-Gallery/master/js/bootstrap-image-gallery.min.js"></script>


