<% @content = Content.where(:name => "boletim_do_mar").first %>

<% if can? :manage, @content %>    
  <%= link_to "Editar Página", edit_content_path(@content) %>
<% end %>
<h1 class="page-title">Boletim do mar</h1>

<% if @content.contents_photos.count > 0 %>
<div class="center-carousel">
	<div class="left-arrow2"></div>
    <div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery"  data-selector="div.item">
		<div class="cwrapper">   
		    <div id="myCarousel" class="carousel slide">
		      <!-- Carousel items -->
		        <div class="carousel-inner">
		            <% @content.contents_photos.each_with_index do |p, index| %>
		                <% if index == 0 %>
		                    <div class="active item" data-href="<%= p.image_url.to_s %>" title="<%= p.legend %>">
		                <% else %>
		                    <div class="item" data-href="<%= p.image_url.to_s %>" title="<%= p.legend %>">
		                <% end %>                
		                    <%= image_tag p.image_url %>
		                <% if p.legend? %>
		                    <div class="carousel-caption">
		                        <p>                            
		                            <%= p.legend %>
		                        </p>
		                    </div>
		                <% end %>
		                </div>
		            <% end %>
		        </div>
		    </div>
		    <div class="right-arrow2"></div>
		</div>
	</div>
</div>
<% end %>
<p>
	<%= raw @content.body %>
</p>

<div id="modal-gallery" class="modal modal-gallery hide fade" tabindex="-1">
    <div class="modal-dismiss" >
        <a class="close" data-dismiss="modal">&times;</a>
    </div>
    <div class="modal-body">
        <div class="modal-image"></div>
        <div class="modal-black-box">
            <div class="modal-title"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $(".left-arrow2").click(function() {
            $(".carousel").carousel('prev');
        })
        $(".right-arrow2").click(function() {
            $(".carousel").carousel('next');
        })
    });

</script>

<script src="http://blueimp.github.com/JavaScript-Load-Image/load-image.min.js"></script>
<script src="https://raw.github.com/blueimp/Bootstrap-Image-Gallery/master/js/bootstrap-image-gallery.min.js"></script>

<script type="text/javascript">
    
$('#modal-gallery').on('displayed', function () {
    var modalData = $(this).data('modal');
    $(".modal-black-box").width($('.modal-image').width());
    $(".modal-title").width($('.modal-image').width());
    var img = $('.modal-image').width();
    var gal = $('.modal-gallery').width();
    var margin = ((gal - img)/2) + img - 20;
    $(".modal-dismiss").css('left', margin + "px");
    // modalData.$links is the list of (filtered) element nodes as jQuery object
    // modalData.img is the img (or canvas) element for the loaded image
    // modalData.options.index is the index of the current link
});

</script>