<div class="home">

  	<%- flash.each do |name, msg| -%>
  		<%= content_tag :div, msg, :id => "flash_#{name}", :class => "alert alert-#{name}" %>
  	<%- end -%>
  	<%= yield %> 
	<div class="row-fluid">
		<div class="allnews">
			<div class="span5 news wrapper">
				<div class="row-fluid">
					<% Message.where("contrast is null or contrast = false").limit(5).order("id desc").each do |m| %>
							<div class="new">
								<h1 class="page-title preview"><%= m.title %></h1>
								<p class="content"><%= link_to raw(html_truncate(m.body)), message_path(m) %></p>
							</div>
						</div>
						<div class="row-fluid top-divider">
					<% end %>
				</div>
				<div class="row action">
					 <%= link_to image_tag("veja_mais.png", :alt => "Veja Mais"), messages_path %>
				</div>
			</div>
			<span class="divider"></span>
			<% Message.where(contrast: true).each do |d| %>
				<div class="span7 headline">
					<h1 class="page-title"><%= d.title %></h1>

					<p>
						<%= link_to raw(d.body), message_path(d) %>
					</p>
					    <div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery"  data-selector="div.item">
					    <div class="cwrapper">   
							<div class="left-arrow3"></div>
					        <div id="headlineCarousel" class="carousel slide">
					          <!-- Carousel items -->
					            <div class="carousel-inner">
					                <% d.news_photos.each_with_index do |p, index| %>
					                    <% if index == 0 %>
					                        <div class="active item" data-href="<%= p.image_url.to_s %>" title="<%= p.legend %>">
					                    <% else %>
					                        <div class="item" data-href="<%= p.image_url.to_s %>" title="<%= p.legend %>">
					                    <% end %>                
					                        <%= image_tag p.image_url(:medium) %>
					                    <% if p.legend? %>
					                        <div class="carousel-caption">
					                            <p>                            
					                                <%= p.legend %>
					                            </p>
					                        </div>
					                    <% end %>
					                    </div>
					                <% end %>
					            </div>
					        </div>
					        <div class="right-arrow3"></div>
					    </div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$("#top-info").removeClass("hidden");
		$("#top-info").show();
		$("#home-more").removeClass("hidden");
		$("#home-more").show();
        $("#top-carousel").removeClass("hide");
		$("#top-carousel").show();


	})
</script>