<div class="home">

  	<%- flash.each do |name, msg| -%>
  		<%= content_tag :div, msg, :id => "flash_#{name}", :class => "alert alert-#{name}" %>
  	<%- end -%>
  	<%= yield %> 
	<div class="row-fluid">
		<div class="allnews">
			<div class="span5 news wrapper">
				<div class="row">
					<% Message.where("contrast is null or contrast = false").limit(5).order("id desc").each do |m| %>
							<div class="new">
								<h1 class="page-title preview"><%= m.title %></h1>
								<p><%= link_to raw(html_truncate(m.body)), message_path(m) %></p>
							</div>
						</div>
						<div class="row top-divider">
					<% end %>
				</div>
				<div class="row action">
					 <%= link_to image_tag("veja_mais.png", :alt => "Veja Mais"), messages_path %>
				</div>
			</div>
			<span class="divider"></span>
			<% Message.where(contrast: true).each do |d| %>
				<div class="span7 headline">
					<h1 class="page-title"><%= d.title %></h1>
					<p>
						<%= link_to raw(d.body), message_path(d) %>
					</p>
				</div>
			<% end %>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$("#top-info").removeClass("hidden");
		$("#top-info").show();
		$("#home-more").removeClass("hidden");
		$("#home-more").show();
	})
</script>