
<p id="notice"><%= notice %></p>
<p>
  <b>Name:</b>
  <%= @work_with_u.name %>
</p>

<p>
  <b>Email:</b>
  <%= @work_with_u.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @work_with_u.phone %>
</p>

<p>
  <b>Curriculum:</b>

  <%= link_to "Ver Curriculum", @work_with_u.curriculum_url %>
</p>


<%= link_to 'Edit', edit_work_with_u_path(@work_with_u) %> |
<%= link_to 'Back', work_with_us_path %>