<div class="row-fluid">
    <div class="span12">
        <p>Total R$<span id="total"></span></p>
        <input type="hidden" id="digital" value="<%= Price.where(price_type: 'digital').first.value %>">
        <input type="hidden" id="small" value="<%= Price.where(price_type: 'física_pequena').first.value %>">
        <input type="hidden" id="medium" value="<%= Price.where(price_type: 'física_média').first.value %>">
        <input type="hidden" id="big" value="<%= Price.where(price_type: 'física_grande').first.value %>">
        <%= form_tag sale_finish_sale_path do %>
            <% basket.each do |key, value| %>
                <div class="span10">
                    <div class="span2">
                        <div class="thumbnail">
                            <div class="crop">
                                <%= image_tag Photo.find(key).image_url(:crop_small).to_s, :class => 'img-rounded' %>
                            </div>
                        </div>
                    </div>
                    <div class="span2">
                        <%= number_field_tag "digital" + key.to_s, 1, :in => 0...10 %>
                        <%= label_tag "Digital" %>
                    </div>
                    <div class="span2">
                        <%= number_field_tag "small" + key.to_s, 1, :in => 0...10 %>
                        <%= label_tag "Fisica pequena" %>
                    </div>
                    <div class="span2">
                        <%= number_field_tag "medium" + key.to_s, 1, :in => 0...10 %>
                        <%= label_tag "Física média" %>
                    </div>
                    <div class="span2">
                        <%= number_field_tag "big" + key.to_s, 1, :in => 0...10 %>
                        <%= label_tag "Física grande" %>
                    </div>
                </div>
            <% end %>
            <%= submit_tag "Finalizar venda", :class => 'btn btn-primary btn-finish-sale' %>
        <% end %>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
    $('#container-right').hide();
    $('#content').removeClass('span9');
    // $('#content').addClass('full');
    $('#body').addClass('full');        

    var digital = $("#digital").val();
    var small = $("#small").val();
    var medium = $("#medium").val();
    var big = $("#big").val();


    var calculateTotal = function() {
        var total = 0;
        $("[name^='digital']").each(function() {
            total = total + (parseInt(this.value) * digital);
        });
        $("[name^='small']").each(function() {
            total = total + (parseInt(this.value) * small);
        });
        $("[name^='medium']").each(function() {
            total = total + (parseInt(this.value) * medium);
        });
        $("[name^='big']").each(function() {
            total = total + (parseInt(this.value) * big);
        });

        $("#total").text(total);
    }

    $("[name^='digital']").each(function() {
        $(this).change(function() {
            calculateTotal();
        });
    });
    $("[name^='small']").each(function() {
        $(this).change(function() {
            calculateTotal();
        });
    });
    $("[name^='medium']").each(function() {
        $(this).change(function() {
            calculateTotal();
        });
    });
    $("[name^='big']").each(function() {
        $(this).change(function() {
            calculateTotal();
        });
    });

    calculateTotal();
});
</script>