<!DOCTYPE html>
<html>
<head>
  <title>Diario da ilha</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class='header-fundo'>
        <div class='page'>
            <div class='container-fluid'>
                <div class='header'>
                    <div class='row-fluid'>
                        <div class='span3'>
                            <div class='logo'>
                                <%= image_tag("logo_site.png", :alt => "Logotipo") %>
                            </div>
                        </div>
                        <div class='span9'>
                            <div class='info-header'>
                                <% if Content.where(:name => "quem_somos") != [] %>
                                    <%= link_to "QUEM SOMOS", content_path(Content.where(:name => "quem_somos").first) %>    
                                <% else %>
                                    <%= link_to "QUEM SOMOS", site_about_path %>
                                <% end %>
                                <%= link_to "TRABALHE CONOSCO", new_work_with_u_path %>
                                <% if Content.where(:name => "anuncie_aqui") != [] %>
                                    <%= link_to "ANUNCIE AQUI", content_path(Content.where(:name => "anuncie_aqui").first) %>    
                                <% else %>
                                    <a href='#'> ANUNCIE AQUI </a>
                                <% end %>
                                <%= link_to "CONTATO", new_contact_path %>
                            </div>
                            <div class='top-banner' id='top-banner'>
                                #top-banner
                            </div>              
                            <div class="header-nav">
                                <!-- <div class='navbar-inner'>                             -->
                                    <ul class="nav nav-pills">
                                        <li class='first'><%= link_to "HOME", root_path %></li>
                                        <li class="divider-vertical"></li>
                                        <li><a href='#'> BOLETIM DO MAR </a></li>
                                        <li class='divider-vertical'></li>
                                        <li><%= link_to "BUSCAR FOTOS", find_photos_path %></li>
                                        <li class='divider-vertical'></li>
                                        
                                        
                                        <li><%= link_to "COMO COMPRAR FOTOS", site_how_to_buy_photos_path %></li>

                                        <li class='divider-vertical'></li>
                                        
                                        <% if Content.where(:name => "contrate_fotografo") != [] %>
                                            <li><%= link_to "CONTRATE UM FOTÓGRAFO", content_path(Content.where(:name => "contrate_fotografo").first) %></li>
                                        <% else %>
                                            <li><a href="#"> CONTRATE UM FOTÓGRAFO </a></li>
                                        <% end %>
                                    </ul>
                                <!-- </div> -->
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
            <div class='container-fluid'>
                <div class='row-fluid'>
                    <div id='content' class='span9'>
                        <div class='container-fluid'>
                            <div class='body' id='body'>
                                <div class='content'>    
                                    <%- flash.each do |name, msg| -%>
                                    <%= content_tag :div, msg, :id => "flash_#{name}" %>
                                    <%- end -%>
                                    <%= yield %> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id='container-right' class='span3 container-right'>
                        <div class='row banner-small' id='rightbanner-01'> 
                                <p><%= image_tag("banner01.png", :alt => "banner 1") %></p>
                            </div>
                            <div class='row banner-small' id='rightbanner-02'> 
                               <p> <%= image_tag("banner02.png", :alt => "banner 2") %></p>
                            </div>
                            <div class='row banner-small' id='rightbanner-03'> 
                                <p><%= image_tag("banner03.png", :alt => "banner 3") %></p>
                            </div>
                            <div class='row banner-medium' id='rightbanner-04'> 
                                <p><%= image_tag("banner04.png", :alt => "banner 4") %></p>
                            </div>
                            <div class='row banner-large' id='rightbanner-05'> 
                                <p><%= image_tag("banner05.png", :alt => "banner 5") %></p>
                            </div>
                            <% if user_signed_in? %>
                                <div class='row banner-large' id='rightbanner-05'> 
                                    <%= link_to "Log Out", destroy_user_session_path, :method => :delete, :class => 'btn btn-danger' %>

                                    <% if current_user.is_admin %>
                                        <%= link_to "GERENCIAR PAGINAS", site_admin_page_path %>
                                    <% end %>
                                </div>
                            <% end %>

                            <div class='row banner-login' id='rightbanner-06'> 
                                <div class='form-right'>
                                    <p class='img-header'><%= image_tag("area_fotografo.png", :alt => "area do fotografo") %></p>

                                    <% if photographer_signed_in? %>
                                        <%= current_photographer.name %>
                                        <%= link_to "Log out", destroy_photographer_session_path, :method => :delete, :class => 'btn btn-danger' %>
                                    <% else %>
                                        <%= render "photographers/sessions/form" %>
                                    <% end %>
                                </div>
                            </div>
                    </div>
                </div>
            </div>                     
        </div>
    </div>
</body>
</html>