<!DOCTYPE html>
<html>
<head>
  <title>Diario da ilha</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='header-fundo'>
    <div class='page'>
      <div class='container-fluid'>
        <div class='header'>
          <div class='row-fluid'>
            <div class='span3'>
              <div class='logo'>
                <%= image_tag("logo_site.png", :alt => "Logotipo") %>
              </div>
            </div>
            <div class='span9'>
              <div class='info-header'>
                <a href='#'> QUEM SOMOS </a>
                <a href='#'> TRABALHE CONOSCO </a>
                <a href='#'> ANUNCIE AQUI </a>
                <a href='#'> CONTATO </a>
              </div>
              <div class='top-banner' id='top-banner'>
                #top-banner
              </div>              
            </div>
          </div>  
          <div class='row-fluid'>
            <div class='span12'>
              <div class='top-info btn-large' id='top-info'>
                #top-info
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='container-fluid'>
        <div class='body'>
          <div class='content'>    
            <h1> Site fenomenal </h1>    
            <% if photographer_signed_in? %>
            <%= link_to "Log out", destroy_photographer_session_path, :method => :delete %>
            <% else %>
            <%= link_to "Sign in", new_photographer_session_path %>
            <%= link_to "Sign Up", new_photographer_registration_path %>
            <% end %>
            <%= yield %> 
          </div>
        </div>
      </div>
    </div>
  </body>
  </html>