<!DOCTYPE html>
<html>
<head>
  <title>Diario da ilha</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class='header-fundo'>
        <div class='page'>
            <div class='container-fluid'>
                <div class='header'>
                    <div class='row-fluid'>
                        <div class='span3'>
                            <div class='logo'>
                                <%= image_tag("logo_site.png", :alt => "Logotipo") %>
                            </div>
                        </div>
                        <div class='span9'>
                            <div class='info-header'>
                                <a href='#'> QUEM SOMOS </a>
                                <a href='#'> TRABALHE CONOSCO </a>
                                <a href='#'> ANUNCIE AQUI </a>
                                <a href='#'> CONTATO </a>
                            </div>
                            <div class='top-banner' id='top-banner'>
                                #top-banner
                            </div>              
                            <div class="header-nav">
                                <!-- <div class='navbar-inner'>                             -->
                                    <ul class="nav nav-pills">
                                        <li class='first'><a href='#'> HOME </a></li>
                                        <li class="divider-vertical"></li>
                                        <li><a href='#'> BOLETIM DO MAR </a></li>
                                        <li class='divider-vertical'></li>
                                        <li><a href='#'> BUSCAR FOTOS </a></li>
                                        <li class='divider-vertical'></li>
                                        <li><a href='#'> COMO COMPRAR FOTOS </a></li>
                                        <li class='divider-vertical'></li>
                                        <li><a href="#"> CONTRATE UM FOTÓGRAFO </a></li>
                                    </ul>
                                <!-- </div> -->
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
            <%= yield %> 
                        <% if photographer_signed_in? %>
                <%= link_to "Log out", destroy_photographer_session_path, :method => :delete %>
            <% else %>
                <%= link_to "Sign in", new_photographer_session_path %>
                <%= link_to "Sign Up", new_photographer_registration_path %>
            <% end %>
        </div>
    </div>
</body>
</html>