<h1 class='page-title'>Cadastrar-se</h3>
<%= simple_form_for("user", :url => user_registration_path) do |f| %>
  <%= f.error_notification %>
  <%= devise_error_messages! @user %>

  <div class="form-inputs">
    <%= f.input :email,  :input_html => { :class =>'largeinput block leform input-xlarge' }, :label => false, :placeholder => 'Email' ,:required => true %>
    <%= f.input :name, :input_html => { :class => ' largeinput block leform input-xlarge' } , :label => false, :placeholder => 'Nome' ,:required => true %>
    <%= f.input :phone,  :input_html => { :class =>' largeinput block leform input-xlarge' }, :label => false, :placeholder => 'Telefone' ,:required => true %>
    <%= f.input :password,  :input_html => { :class =>'largeinput block leform input-xlarge' }, :label => false, :placeholder => 'Senha' ,:required => true %>
    <%= f.input :password_confirmation,  :input_html => { :class =>' largeinput block leform input-xlarge' }, :label => false, :placeholder => 'Confirmação de senha' ,:required => true %>
  </div>

  <div class="actions-form cadastro">        
    <%= image_submit_tag("cadastrar_button2.png") %>
  </div>
<% end %>
